openapi: 3.0.2
info:
  contact:
    email: api-support@7shifts.com
  description: |-
    7shifts is a team management software designed for restaurants. We help managers and operators spend less time and effort scheduling their staff, reduce their monthly labor costs and improve team communication. The result is simplified team management, one shift at a time.

    7shifts also offers free mobile apps (iOS and Android) allowing managers and employees to have everything at their fingertips.

    Start your free trial or request a demo at www.7shifts.com.
  title: 7shifts API
  version: 2023-05-01
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
- description: Production server
  url: https://api.7shifts.com
security:
- OAuth2: []
- cookieAuth: []
tags:
- name: Task Management
- name: Log Book
- name: User Assignments
- name: Availability
- name: Time Off
- name: Users
- name: External User Mappings
- name: Forecast Overrides
- name: Companies
- name: Locations
- name: Departments
- name: Roles
- name: Shifts
- name: Time Punches
- name: Receipts
- name: Schedule Events
- name: Tip Pool
- name: Webhooks
- name: Reports
- name: Integration Mappings
- name: Authentication
- name: User Wages
- name: Account
- name: Schedule Enforcement
- name: Shift Feedback
- name: Engage
- name: Day Part
paths:
  /oauth2/token:
    post:
      operationId: Authentication_generateOAuthToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthenticationGenerateOAuthTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationGenerateOAuthTokenResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationGenerateOAuthToken500Response'
          description: Unexpected error
          x-do-not-generate: true
      security: []
      servers:
      - description: Override base path token generation
        url: https://app.7shifts.com
      summary: Create OAuth Token
      tags:
      - Authentication
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--oauth2-token
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /v2/whoami:
    get:
      operationId: Authentication_getIdentity
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-whoami-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationGetIdentityResponse'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AuthenticationGetIdentity401Response'
          description: Unauthorized
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AuthenticationGetIdentity500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Retrieve Identity
      tags:
      - Authentication
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-whoami
      x-accepts: application/json
  /v2/partner_company_creation:
    post:
      operationId: Account_createTrialAccount
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-partner_company_creation-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateTrialAccountRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccountResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount403Response'
          description: Forbidden
          x-do-not-generate: true
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount422Response'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create Trial Account
      tags:
      - Account
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-partner_company_creation
      x-content-type: application/json
      x-accepts: application/json
  /v2/companies:
    get:
      operationId: Companies_list
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-companies-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Return companies that have been modified since the specified
          date. Format YYYY-MM-DD
        example: 2020-01-01
        explode: true
        in: query
        name: modified_since
        required: false
        schema:
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
        style: form
        x-konfig-original-example: 2020-01-01
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesListResponse'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesList401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesList403Response'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesList500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Companies
      tags:
      - Companies
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies
      x-accepts: application/json
  /v2/companies/{id}:
    get:
      operationId: Companies_getById
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-companies-id-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 8655
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 8655
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesGetByIdResponse'
          description: OK
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetById500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Retrieve Company
      tags:
      - Companies
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-companies-id
      x-accepts: application/json
    patch:
      operationId: Companies_updateCompanyById
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-companies-id-patch-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesUpdateCompanyByIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesUpdateCompanyByIdResponse'
          description: A company
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesUpdateCompanyById403Response'
          description: Not authorized to update a company
          x-do-not-generate: true
      summary: Update Company
      tags:
      - Companies
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v2-companies-id
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/labor_settings:
    get:
      operationId: Companies_getLaborSettings
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-labor_settings-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettingsResponse'
          description: OK
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettings401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettings403Response'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettings500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Retrieve Labor Settings
      tags:
      - Companies
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-labor_settings
      x-accepts: application/json
  /v2/company/{company_id}/inactive_reasons:
    get:
      operationId: Companies_listInactiveReasons
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-inactive_reasons-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasonsResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasons400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasons403Response'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasons500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Inactive Reasons
      tags:
      - Companies
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-inactive_reasons
      x-accepts: application/json
  /v2/company/{company_id}/locations:
    get:
      operationId: Locations_listGet
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-locations-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Return locations that have been modified since the specified
          date. Format YYYY-MM-DD
        example: 2020-01-01
        explode: true
        in: query
        name: modified_since
        required: false
        schema:
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
        style: form
        x-konfig-original-example: 2020-01-01
      - description: When TRUE the search will return deleted locations
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-locations-get-parameters-4-schema
        style: form
      - description: Cursor for the next or previous page of results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results desired per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          format: int64
          maximum: 500
          minimum: 1
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-locations-get-parameters-6-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsListGetResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsListGet400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsListGet403Response'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsListGet500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Locations
      tags:
      - Locations
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-locations
      x-accepts: application/json
    post:
      operationId: Locations_create
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-locations-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationsCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsCreateResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsCreate400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsCreate403Response'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsCreate500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create Location
      tags:
      - Locations
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-company-company_id-locations
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/locations/{location_id}:
    delete:
      operationId: Locations_removeLocationById
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-locations-location_id-delete-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Location ID
        example: 1234
        explode: false
        in: path
        name: location_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsRemoveLocationByIdResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsRemoveLocationById404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsRemoveLocationById500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Delete Location
      tags:
      - Locations
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-company-company_id-locations-location_id
      x-accepts: application/problem+json
    get:
      operationId: Locations_getLocation
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-locations-location_id-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Location ID
        example: 1234
        explode: false
        in: path
        name: location_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocationResponse'
          description: OK
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocation403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocation404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocation500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Retrieve Location
      tags:
      - Locations
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-locations-location_id
      x-accepts: application/json
    put:
      operationId: Locations_updateLocationById
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-locations-location_id-put-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Location ID
        example: 1234
        explode: false
        in: path
        name: location_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationsUpdateLocationByIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationByIdResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Update Location
      tags:
      - Locations
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-company-company_id-locations-location_id
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/departments:
    get:
      operationId: Departments_list
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-departments-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Return departments that have been modified since the specified
          date. Format YYYY-MM-DD
        example: 2020-01-01
        explode: true
        in: query
        name: modified_since
        required: false
        schema:
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
        style: form
        x-konfig-original-example: 2020-01-01
      - description: Cursor for the next or previous page of results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results desired per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Return departments that match the provided location ID
        example: 1234
        explode: true
        in: query
        name: location_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsListResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsList400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsList403Response'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsList500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Departments
      tags:
      - Departments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-departments
      x-accepts: application/json
    post:
      operationId: Departments_createNewDepartment
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-departments-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsCreateNewDepartmentRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartmentResponse'
          description: Created
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartment403Response'
          description: Forbidden
          x-do-not-generate: true
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartment422Response'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartment500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create Department
      tags:
      - Departments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-company-company_id-departments
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/departments/{department_id}:
    delete:
      operationId: Departments_deleteById
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-departments-department_id-delete-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Department ID
        example: 1234
        explode: false
        in: path
        name: department_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Department ID to move roles and shifts to
        example: 1234
        explode: true
        in: query
        name: transfer_to
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-konfig-original-example: 1234
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsDeleteByIdResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsDeleteById404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsDeleteById500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Delete Department
      tags:
      - Departments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-company-company_id-departments-department_id
      x-accepts: application/problem+json
    get:
      operationId: Departments_getDepartment
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-departments-department_id-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Department ID
        example: 1234
        explode: false
        in: path
        name: department_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartmentResponse'
          description: OK
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartment403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartment404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartment500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Retrieve Department
      tags:
      - Departments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-departments-department_id
      x-accepts: application/json
    put:
      operationId: Departments_updateDepartment
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-departments-department_id-put-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Department ID
        example: 1234
        explode: false
        in: path
        name: department_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsUpdateDepartmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartmentResponse'
          description: OK
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartment403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartment404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartment500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Update Department
      tags:
      - Departments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-company-company_id-departments-department_id
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/roles:
    get:
      operationId: Roles_list
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-roles-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Location ID
        explode: true
        in: query
        name: location_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Department ID
        explode: true
        in: query
        name: department_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Role IDs
        example: "123,321"
        explode: false
        in: query
        name: ids
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
        x-konfig-original-example: "123,321"
      - description: Return roles that have been modified since the specified date.
          Format YYYY-MM-DD
        explode: true
        in: query
        name: modified_since
        required: false
        schema:
          description: A date with YYYY-MM-DD format
          example: 2020-01-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2020-01-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-roles-get-parameters-6-schema
        style: form
      - description: Cursor for the next or previous page of results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results desired per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesListResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Roles
      tags:
      - Roles
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-roles
      x-accepts: application/json
    post:
      operationId: Roles_createRole
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-roles-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: The company id
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolesCreateRoleRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesCreateRoleResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole403Response'
          description: Forbidden
          x-do-not-generate: true
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole422Response'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create Role
      tags:
      - Roles
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-company-company_id-roles
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/roles/{role_id}:
    delete:
      operationId: Roles_deleteRole
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-roles-role_id-delete-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Role ID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRoleResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRole403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRole404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRole500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Delete Role
      tags:
      - Roles
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-company-company_id-roles-role_id
      x-accepts: application/problem+json
    get:
      operationId: Roles_getRole
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-roles-role_id-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Role ID
        example: 1234
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesGetRoleResponse'
          description: OK
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesGetRole403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesGetRole404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesGetRole500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Retrieve Role
      tags:
      - Roles
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-roles-role_id
      x-accepts: application/json
    put:
      operationId: Roles_updateRoleById
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-roles-role_id-put-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Role ID
        example: 1234
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolesUpdateRoleByIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleByIdResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById404Response'
          description: Not found
          x-do-not-generate: true
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById422Response'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Update Role
      tags:
      - Roles
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-company-company_id-roles-role_id
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/users:
    get:
      operationId: Users_list
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: Return users that have been modified since the specified date.
          Format YYYY-MM-DD
        example: 2020-01-01
        explode: true
        in: query
        name: modified_since
        required: false
        schema:
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
        style: form
        x-konfig-original-example: 2020-01-01
      - description: Location ID (cannot be used in conjunction with Department ID
          and Role ID)
        explode: true
        in: query
        name: location_id
        required: false
        schema:
          type: integer
        style: form
      - description: Department ID (cannot be used in conjunction with Location ID
          and Role ID)
        explode: true
        in: query
        name: department_id
        required: false
        schema:
          type: integer
        style: form
      - description: Role ID (cannot be used in conjunction with Location ID and Department
          ID)
        explode: true
        in: query
        name: role_id
        required: false
        schema:
          type: integer
        style: form
      - description: The user status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - inactive
          type: string
        style: form
      - description: Filter by partial or full employee name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Sort the paginated result by the given field and direction.
        example: "firstname.asc,lastname.desc"
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          pattern: "^(,?[a-zA-Z_]*(\\.(asc|desc))?){1,}$"
          type: string
        style: form
        x-konfig-original-example: "firstname.asc,lastname.desc"
      - description: Cursor for the next or previous page of results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: The number of results desired per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          format: int64
          maximum: 500
          minimum: 1
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-get-parameters-11-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersListResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList403Response'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Users
      tags:
      - Users
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-users
      x-accepts: application/json
    post:
      operationId: Users_createNewUser
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersCreateNewUserRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUserResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser404Response'
          description: Not found
          x-do-not-generate: true
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser422Response'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create User
      tags:
      - Users
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-company-company_id-users
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/create_many_users:
    post:
      operationId: Users_bulkCreate
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-create_many_users-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersBulkCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreateResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create Many Users
      tags:
      - Users
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/users/{identifier}:
    delete:
      operationId: Users_deactivate
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-identifier-delete-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: User ID
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersDeactivateRequest'
        required: false
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivateResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Deactivate User
      tags:
      - Users
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v2-company-company_id-users-identifier
      x-content-type: application/json
      x-accepts: application/problem+json
    get:
      operationId: Users_getUserByIdentifier
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-identifier-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: "User ID. Accepted values are 7shifts user id or punch id. Use\
          \ prefix punch: for punch id"
        examples:
          internal:
            summary: 7shifts User ID
            value: "46734"
          external:
            summary: '7punches ID prefixed with punch:'
            value: punch:74565
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: int64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifierResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifier400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifier403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifier404Response'
          description: Not found
          x-do-not-generate: true
      summary: Retrieve User
      tags:
      - Users
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-users-identifier
      x-accepts: application/json
    put:
      operationId: Users_updateUserByIdentifier
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-identifier-put-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: User ID
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersUpdateUserByIdentifierRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifierResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier404Response'
          description: Not found
          x-do-not-generate: true
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier422Response'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Update User
      tags:
      - Users
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v2-company-company_id-users-identifier
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/users/{user_id}/wages:
    get:
      operationId: UserWages_list
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-user_id-wages-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWagesListResponse'
          description: OK
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesList403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesList404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesList500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List User Wages
      tags:
      - User Wages
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-users-user_id-wages
      x-accepts: application/json
    post:
      operationId: UserWages_create
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-user_id-wages-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserWagesCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWagesCreateResponse'
          description: Wage created
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate403Response'
          description: Forbidden
          x-do-not-generate: true
        "409":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate409Response'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate422Response'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create User Wage
      tags:
      - User Wages
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-company-company_id-users-user_id-wages
      x-content-type: application/json
      x-accepts: application/json
  /v2/company/{company_id}/users/{user_id}/assignments:
    get:
      operationId: UserAssignments_list
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-user_id-assignments-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsListResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList400Response'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList401Response'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Assignments
      tags:
      - User Assignments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-users-user_id-assignments
      x-accepts: application/json
  /v2/company/{company_id}/users/{user_id}/location_assignments:
    get:
      operationId: UserAssignments_listLocationAssignments
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-user_id-location_assignments-get-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsListLocationAssignmentsResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsListLocationAssignments400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsListLocationAssignments403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsListLocationAssignments404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsListLocationAssignments500Response'
          description: Server Error
          x-do-not-generate: true
      summary: List Location Assignments
      tags:
      - User Assignments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v2-company-company_id-users-user_id-location_assignments
      x-accepts: application/json
    post:
      operationId: UserAssignments_createLocationAssignment
      parameters:
      - description: 7shifts API version
        explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          description: An API version
          example: 2022-05-01
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
          type: string
          x-konfig-original-example: 2022-05-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v2-company-company_id-users-user_id-location_assignments-post-parameters-0-schema
        style: simple
      - description: Company GUID
        example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        explode: false
        in: header
        name: x-company-guid
        required: false
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      - description: Company ID
        example: 1234
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-konfig-original-example: 1234
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignmentsCreateLocationAssignmentRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsCreateLocationAssignmentResponse'
          description: Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsCreateLocationAssignment400Response'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsCreateLocationAssignment403Response'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsCreateLocationAssignment404Response'
          description: Not found
          x-do-not-generate: true
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsCreateLocationAssignment500Response'
          description: Server Error
          x-do-not-generate: true
      summary: Create Location Assignments
      tags:
      - User Assignments
      x-public-api: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-company-company_id-users-user_id-location_assignments
      x-content-type: application/json
      x-accepts: application/json
[...]
